div {
  overflow: hidden;
  margin: auto;
  width: 35%;
  background-color: rgb(238, 238, 238);
  border-radius: 0.5em;
  top: 10px;
}

img {
  
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.padding-text {
  padding: 0.8em;
}